{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block body %}
<div class="container">
  <div class="row">
      <h1>All Posts</h1>
      {% for post in posts %}
              <ul>
                  <li>
                      <a href="/blog/{{post.slug}}"><h2>{{post}}</h2></a>
                      <a href="{% url 'blog:post-delete' post.slug %}">Delete</a>
                      <a href="{% url 'blog:post-update' post.slug %}">Update</a>
                   
                  </li>
              </ul>
     {% endfor %}
     

  </div>


  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <input type="submit" value="Add Post">
  </form>
  

</div>

{% endblock body %}
  
    
  